.item-one {
  h1 {
    font-size: 20px;
    font-weight: 500;

    span {
      font-weight: bolder;
    }
  }

  span.clock {
    background: #192441;
    padding: 0.5em;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
  }
}

.card-form-container {
  h3 {
    margin: 10px 0;
    & + p {
      color: gray;
      font-size: 14px;
    }
  }

  svg {
    & + p {
      color: #025efe;
      font-weight: 600;
    }
  }

  .input-container {
    border: 1px solid rgb(186, 186, 186);
    border-radius: 10px;
    padding: 1em 5% 1em 20%;
    position: relative;

    &.input-centre {
      //   padding: 1em 0 1em 20%;
      input {
        text-align: center;
      }
    }

    img {
      position: absolute;
      left: 4%;
      top: 6%;
      //   width: 8%;
      //   height: auto;
      //   transform: translateY(50%);
    }

    svg {
      position: absolute;
      right: 3%;
    }

    input {
      padding: 0;
      border: none;
      outline: none;
      width: 80%;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 600;
      color: #192441;

      &::placeholder {
        color: rgb(186, 186, 186);
        font-size: 18px;
        font-weight: 700;
        opacity: 0.5;
      }
    }
  }

  button {
    width: 100%;
    color: #ffffff;
    background-color: #025efe;
    border: none;
    outline: none;
    padding: 1.5em 0;
  }
}

.item-two {
  position: relative;

  .blue-bg {
    position: absolute;
    width: 75px;
    height: 25px;
    background-color: #025efe;
    left: 40%;
    top: -10px;
    border-radius: 5px;
  }
}

.card {
  width: 200px;
  height: 280px;
  background: rgb(255, 255, 255, 0.5);
  border-radius: 20px;
  box-shadow: 0px 0px 30px rgb(190, 190, 190);
  padding: 2em 1em 2em;
  position: relative;
  z-index: 5;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);

  p {
    padding-top: 1em;
    margin: 0;
    color: #192441;
    font-weight: 700;
  }

  span {
    font-size: 10px;
  }
}

.receipt {
  background-color: #eaeef2;
  width: 70%;
  height: 600px;
  border-radius: 20px;
  padding: 0 2em 2em 2em;
  margin-top: -50%;

  p.detail {
    font-weight: 700;
    opacity: 0.5;
  }

  p.value {
    font-weight: 700;
    color: #192441;
  }

  hr {
    border: none;
    border-top: 2px dashed #000000; /* Adjust color as needed */
    height: 1px;
    width: 100%;
    opacity: 0.3;
  }

  .receipt-stub {
    p {
      margin: 0;
    }

    p:first-child {
      font-size: 18px;
      font-weight: 700;
      opacity: 0.5;
    }

    p:last-child {
      color: #192441;
      span:first-child {
        font-size: 28px;
        font-weight: 700;
      }
      span:nth-child(2) {
        font-weight: 600;
        margin-right: 0.5em;
      }
      span:last-child {
        font-weight: 700;
        opacity: 0.5;
      }
    }
  }
}
